* {
    box-sizing: border-box;
}

header {
  border: 1px solid green;
}

header .logo {
  float: left;
}

header .buttons-container {
  float: right;
  font-size: 0;
  padding: 6px 0;
}

header .social-button {
  padding: 0;
  border: none;
  height: 40px;
  vertical-align: top;
  border-radius: 2px;
  background-color: #e1f0ff;
}

header .social-button:not(:last-child) {
  margin-right: 8px;
}

header .facebook-button,
header .instagram-button {
  width: 40px;
  padding: 11px;
}

header .help-button {
  width: 164px;
  font-size: 0;
}

header .help-button .contact-text {
  color: #477fb5;
  font-size: 16px;
  font-weight: 700;
  font-family: sans-serif;
  margin-right: 8px;
}

.clear {
  clear: both;
}
